.tp-caption{
	i.fa{
		color: @main-color;
		margin-right: 10px;
	}
}

.ro-brand-logo-wrap {
	max-width: 235px;
	height: 180px;
	line-height: 180px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	.ro-brand-logo {
		position: relative;
		width: 100px;
		height: 105px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		vertical-align: middle;
        display: inline-block;
		> img {
			position: absolute;
			top: 0;
			left: 0;
			width: auto;
			height: auto;
			&:first-child {
				opacity: 1;
			}
			&:last-child {
				opacity: 0;
			}
		}
		&:hover {
			> img {
				&:first-child {
					opacity: 0;
				}
				&:last-child {
					opacity: 1;
				}
			}
		}
	}
}
.col-20{
	width: 20% !important;
	background-color: #fff;
	.easing-animation;
	@media(max-width: @screen-sm - 1){
		width: 50% !important;
		float: left;
	}
}