.btn-button{
	width: 205px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
	background-color: @main-color;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	font-style: italic;
	&:hover{
		color: #fff;
		
	}
}
.tb-custom-classes{
	@media(min-width: @screen-md){
		.btn-button{
			position: relative;
			top: -205px;
		}
	}
}
.tb-tab-custom{
	
	&.wpb_tabs{
		@media(min-width: @screen-md){
			position: relative;
			top: -200px;
			&:after{
				content: "";
				background-color: #fff;
				top: 37px;
				left: -75px;
				right: -75px;
				bottom: 0;
				position: absolute;
				z-index: 2;
			}
		}
		.ui-widget-content{
			border: none !important;
			background: transparent;
			text-align: center;
			z-index: 3;
			position: relative;
			ul.ui-widget-header{
				max-width: 760px;
				background: #444;
				border: none;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				border-radius: 34px;
				margin-bottom: 42px;
				li{
					float: none;
					background-color: transparent;
					margin: 0;
					
					width: 120px;
					@media(max-width: 500px){
						width: 90px;
					}
					display: inline-block;
					text-align: center;
					padding:0;
					border: none;
					a{
						font-family: Roboto Slab;
						font-size: 14px;
						@media(max-width: 500px){
							font-size: 11px;
						}
						padding:0;
						color: #fff;
						font-weight: 400;
						height: 67px;
						line-height: 67px;
						text-transform: uppercase;
						@media(max-width: 380px){
							height: initial;
							line-height: initial;
						}
					}
					&.ui-state-active{
						border: none;
						>a{
							color: @main-color;
						}
					}
				}
				
			}
			.wpb_tab{
				border: none !important;
				background: transparent !important;
				padding:0 !important;
			}
		}
	}
}
.tb-classes-tabs{
	.vc_tta-tabs-container{
		ul.vc_tta-tabs-list{
			max-width: 760px;
			background: #444;
			border: none;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			border-radius: 34px;
			margin-bottom: 50px;
			li.vc_tta-tab{
				float: none;
				background-color: transparent;
				margin: 0;
				
				width: 120px;
				@media(max-width: 500px){
					width: 90px;
				}
				display: inline-block;
				text-align: center;
				padding:0;
				border: none;
				>a{
					font-family: Roboto Slab;
					font-size: 14px;
					background-color: transparent;
					border: none;
					@media(max-width: 500px){
						font-size: 11px;
					}
					padding:0;
					color: #fff;
					font-weight: 400;
					height: 67px;
					line-height: 67px;
					text-transform: uppercase;
					@media(max-width: 380px){
						height: initial;
						line-height: initial;
					}
				}
				&.vc_active{
					border: none;
					>a{
						color: @main-color;
					}
				}
			}
			
		}
		.wpb_tab{
			border: none !important;
			background: transparent !important;
			padding:0 !important;
		}
	}
}

.tb-classes{
	color: #e5e5e5;
	
	.tb-content-block{
		h2.blog-title{
			margin-bottom: 0;
			line-height: 30px;
			font-size: 18px;
			text-transform: uppercase;
			line-height: 50px;
			font-weight: 400;
			a{
				color: #fff;
			}
		}
		.tb-info{
			i{
				margin-right: 7px;
			}
			span{
				font-style: italic;
				font-weight: 400;
				font-size: 16px;
			}
		}
	}
	article{
		position: relative;
		margin-bottom: 31px;
		&:after{
			position: absolute;
			left: 0;
			top:0;
			width: 100%;
			height: 100%;
			content: "";
			background-color: fadeout(#000, 70);
		}
		.tb-blog-image{
			img{
				display: block;
			}
		}
		.tb-content-block{
			z-index: 2;
			position: absolute;
			bottom: 45px;
			width: 100%;
		}
		.blog-desc{
			display: none;
			font-weight: 400;
		}
		.tb-info{
			font-weight: 400;
		}
	}
	.tb-big-item{
		text-align: center;
		article{
			.blog-desc{
				max-width: 300px;
				text-align: center;
				line-height: 26px;
				margin-left: auto;
				margin-right: auto;
				display: inline-block;
				font-style: italic;
				font-weight: 400;
				margin-bottom: 27px;
				font-size: 16px;
			}
			.tb-info{
				display: block;
				.tb-trainner,.tb-time{
					width: 50%;
					float: left;
					height: 58px;
					line-height: 58px;
					text-align: center;
					
					i{
						margin-right: 7px;
					}
				}
				.tb-trainner{
					background-color:@main-color;
					span{
						color: #fff;
					}
				}
				.tb-time{
					background-color:#fff;
					color: #666;
				}
			}
		}
	}
	.tb-classes-item{
		&:not(.tb-big-item){
			.tb-content-block{
				text-align: left;
				padding-left: 30px;
				@media(min-width: @screen-lg){
					padding-left: 60px;
				}
			}
		}
	}
	&.tpl2:not(.tb-classes-carousel){
		article{
			@media(max-width: @screen-sm - 1){
				max-width: 370px;
				margin-left: auto;
				margin-right: auto;
			}
			margin-bottom: 68px;
			.tb-blog-image{
				position: relative;
			}
			.colorbox-wrap{
				background-color: fadeout(#000, 40);
				.colorbox-inner a.cb-popup{
					background-color: fadeout(#fff, 20);
					border: none;
					height: 50px;
					width: 50px;
					line-height: 50px;
					i{
						color: #444;
					}
					&:hover{
						background-color: @main-color;
						i{
							color: #fff;
						}
					}
					&:last-child{
						transform: translateX(100px);
						-webkit-transform: translateX(100px);
						i{
							.easing-animation;
							transform: scale(1);
							display: inline-block;
							font-size: 18px;
							-webkit-transform: scale(1);
						}
						&:hover{
							i{
								transform: scale(1.2);
								-webkit-transform: scale(1.2);
							}
						}
					}
				}
			}
			.tb-content-block{
				padding-left: 0 !important;
				text-align: center !important;
				position: initial;
				background-color: #fff;
				padding-top: 15px;
				&:after{
					display: none;
				}
				h2.blog-title >a{
					text-align: center;
					color: #666;
					&:hover{
						color: @main-color;
					}
				}
				.tb-info{
					text-align: center;
					margin-top: -5px;
					.tb-trainner,.tb-time{
						width: 50%;
						float: left;
						text-align: center;
						color: #999999;
					}
				}
				.tb-price{
					font-size: 12px;
					color: @main-color;
					font-style: italic;
					text-transform: uppercase;
					position: relative;
					top: 15px;
					span{
						color: #666666;
						font-size: 24px;
						font-weight: bold;
						font-style: normal;
						font-family: Roboto Slab;
						margin-right: 8px;
					}
				}
			}
			&:after{
				display: none;
			}
		}
	}
	&.tpl4{
		.tb-classes-item:not(.tb-big-item) .tb-content-block{
			padding-left: 0;
			text-align: center;
			background-color: #fafafa;
			.tb-info span{
				font-size: 14px;
				font-weight: 400;
			}
		}
	}
}
body .tb-classes-tabs{
	background-position: bottom center !important;
}
.tb-classes{
	&.tb-classes-carousel,&.tpl4{
		&.tpl1, &.tpl2{
			article{
				max-width: 370px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		article{
			&:after{
				display: none;
			}
			.tb-content-block{
				position: initial;
				text-align: center;
				background-color: #fff;
				padding: 32px 0 38px;
				.tb-category{
					font-size: 12px;
					text-transform: uppercase;
					color: @main-color;
					font-style: italic;
				}
				h2.blog-title{
					letter-spacing: initial;
					margin: -14px 0 -5px;
					>a{
						color: #666;
						text-transform: capitalize;
					}
				}
				.tb-info{
					.tb-trainner,.tb-time{
						text-align: center;
						float: left;
						width: 50%;
						color: #999;
					}
				}
			}
		}
		&.tpl2{
			.tb-blog-image{
				position: relative;
				.tb-info{
					padding: 4px 15px;
					background-color: fadeout(@main-color, 20);
					color: #fff;
					position: absolute;
					top: 15px;
					right: 15px;
					display: inline-block;
					text-align: center;
					i{
						margin-right: 5px;
					}
					
					span{
						text-transform: capitalize;
					}
				}
			}
			.tb-content-block{
				background-color: transparent;
				position: absolute;
				bottom: 25px;
				padding: 0;
				.tb-detail{
					background-color: fadeout(#fff, 10);
					text-align: left;
					padding-left: 25px;
					padding-top: 15px;
					@media(min-width: @screen-lg){
						padding-left: 45px;
					}
					h2.blog-title{
						color: #666;
						margin: 0;
						margin-bottom: -12px;
						>a{text-transform: uppercase;}
					}
					.tb-info .tb-time{
						float: none;
						width: initial;
						text-align: left;
					}
				}
				.tb-detail,.tb-price{
					height: 107px;
					float: left;
				}
				.tb-price{
					width: 97px;
					font-style: italic;
					text-transform: uppercase;
					background-color: fadeout(@main-color, 10);
					color: #fff;
					font-weight: 400;
					padding-top: 28px;
					span{
						display: block;
						font-weight: bold;
						font-style: normal;
						font-family: Roboto slab;
						font-size: 28px;
					}
				}
				.tb-detail{
					width: ~'calc(100% - 97px)';
					@media(min-width: @screen-lg){
						width: ~'calc(100% - 113px)';
					}
				}
			}
		}
	}
}
.tb-classes.tb-classes-carousel,.tb-events.tb-events-carousel{
	.owl-controls{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		.owl-nav{
			 position: relative;
			.owl-prev,.owl-next{
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				background-color: #fff;
				color: #555;
				display: inline-block;
				position: absolute;
				left: -90px;
				@media(min-width: @screen-lg){
					left: -155px;
				}
				top: -50px !important;
				&:hover{
					background-color: @main-color;
					color: #fff;
				}
			}
			.owl-next{
				right: -90px;
				left: initial;
				@media(min-width: @screen-lg){
					right: -155px;
					left: initial;
				}
			}
		}
	}
}
body .tb-countup-section2{
	background-position: top center !important;
	background-size: initial;
	.wbp-title.tpl3 .wbp-title-content{
		.title-content{
			p{
				margin-bottom: 0!important;
			}
			span.bottom-subtitle{
				margin-bottom: 5px;
				
			}
			h1{
				margin-bottom: 15px;
			}
		}
	}
	@media(max-width: @screen-md - 1){
		margin-bottom: 120px !important;
	}
	a.btn-button{
		background-color: #fff;
		color: #444;
	}
}
.title_white{
	.wbp-title.tpl3 .wbp-title-content{
		>span,h1,p{
			color: #fff;
		}
	}
}
.tb-events{
	max-width: @screen-lg;
	margin: auto;
	article{
		position: relative;
		@media(min-width: @screen-md){
			margin-bottom: 100px;
		}
		@media(max-width: @screen-md - 1){
			max-width: 555px;
			margin-left: auto;
			margin-right: auto;
		}
		.tb-content-block{
			background-color: #242424;
			padding: 15px;
			@media(min-width: @screen-md){
				max-width: 387px;
				position: absolute;
				bottom: -100px;
				left: 20px;
				padding: 42px 58px;
			}
			.easing-animation;
			.tb-time{
				font-size: 12px;
				color: @main-color;
				font-style: italic;
				line-height: 28px;
				margin-bottom: 3px;
			}
			h2.blog-title{
				font-size: 16px;
				line-height: 26px;
				color: #fff;
				margin-bottom: 12px;
			}
			.tb-address{
				color: #bbbaba;
				font-size: 12px;
				font-style: italic;
				line-height: 28px;
				i{
					font-size: 16px;
					margin-right: 10px;
				}
			}
		}
		&:hover{
			.tb-content-block{
				background-color: @main-color;
				.tb-address,.tb-time{
					color: #fff;
				}
			}
		}
	}
}

.tb-blog{
	&.tpl1{
		#tb-blog-image{
			max-width: 970px;
			margin-left: auto;
			margin-right: auto;
			
			@media(min-width: @screen-md){
				.flex-viewport,.flex-control-nav{
					float: left;
				}
				.flex-viewport{
					width: ~'calc( 100% - 220px)';
					margin-right: 20px;
				}
				.flex-control-nav{
					width: 200px;
					li{
						img{
							display: block;
							&.flex-active{
								opacity: 0.5;
								box-shadow: 0 0px 12px rgba(0,0,0,0.175);
							}
						}
						cursor: url(assets/images/cursor.png), auto;
						&:not(:last-child){
							margin-bottom: 20px;
						}
						position: relative;
						z-index: 3;
						.light_opacity{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: fadeout(@main-color, 30);
							opacity: 0;
							.easing-animation;
							content="";
							//display: inline-block;
						}
						&:hover{
							.light_opacity{
								opacity: 1;
							}
						}
					}
				}
			}
			@media(max-width: @screen-md - 1){
				.flex-control-nav{
					text-align: center;
					margin-top: 10px;
					li{
						display: inline-block;
						&:not(:last-child){
							margin-right: 10px;
						}
					}
				}
			}
			@media(max-width: 639px){
				.flex-control-nav{
					li{
						>img{
							max-width: 90px;
							height: auto;
						}
					}
				}
			}
			.tb-item-content{
				position: relative;
				.tb-content-block{
					background-color: #fbfbfb;
					@media(min-width: 640px){
						position: absolute;
						bottom: 0;
						right: 0;
						width: ~'calc( 100% - 120px)';
						padding-top: 45px;
						padding-bottom: 40px;
						padding-left: 80px;
					}
					.blog-info{
						text-transform: uppercase;
						font-style: italic;
						font-size: 14px;
						span{
							margin-right: 26px;
						}
						.publish-date{
							display: none;
						}
					}
					.blog-desc{
						max-width: 518px;
					}
					h2.blog-title{
						letter-spacing: initial;
						color: #303030;
						font-size: 20px;
						font-weight: bold;
						margin-bottom: 2px;
					}
					.tb-blog-date{
						width: 77px;
						height: 90px;
						border-radius: 5px;
						background-color: @main-color;
						color: #fff;
						font-family: Roboto slab;
						font-size: 25px;
						font-weight: bold;
						text-align: center;
						display: inline-block;
						position: absolute;
						display: inline-block;
						
						left: 0;
						top:0;
						@media(min-width: 640px){
							left: -39px;
							top: 50%;
							transform: translateY(-50%);
						}
						padding-top: 18px;
						span{
							font-family: "Josefin Sans";
							font-size: 16px;
							font-weight: 400;
							display: block;
						}
					}
				}
			}
		}
	}
	&.tpl2{
		max-width: 970px;
		margin-left: auto;
		margin-right: auto;
		#tb-blog-image{
			position: relative;
			.tb-item{
				position: relative;
				margin-top: 20px;
				margin-bottom: 20px;
				&:after{
					content="";
					display: inline-block;
					background-color: #fff;
					position: absolute;
					left: 70px;
					top: -20px;
					bottom: -20px;
					right: 0;
					z-index: -1;
					@media(max-width: 499px){
						left: 0;
					}
				}
			}			
			.tb-item-content{
				.tb-image{
					width: initial;
					max-width: 400px;
					@media(max-width: 669px){
						max-width: 200px;
					}
					@media(max-width: 500px){
						max-width: initial;
						margin: auto;
						float: none;
						padding-left: 15px;
						padding-right: 15px;
					}
					float: left;
				}
				.tb-content-block{
					width: ~'calc(100% - 400px)';
					@media(max-width: 669px){
						width: ~'calc(100% - 200px)';
					}
					@media(max-width: 500px){
						width: initial;
						margin: auto;
						float: none;
					}
					float: left;
					font-style: italic;
					color: #666666;
					padding-left: 55px;
					padding-top: 55px;
					@media(max-width: @screen-sm - 1){
						padding-left: 15px;
						padding-top: 0px;
					}
					max-width: 480px;
					ul{
						margin-top: 15px;
					}
					i{
						color: @main-color;
						margin-right: 10px;
					}
					h2.blog-title{
						font-size: 22px;
						font-weight: bold;
						color: #303030;
						margin-bottom: 12px;
					}
				}
			}
		}
		.flex-control-nav{
			position: absolute;
			@media(min-width: @screen-sm){
				bottom: 50px;
				left: 460px;
			}
			@media(max-width: @screen-sm - 1){
				left: 50%;
				transform: translateX(-50%);
			}
			li{
				display: inline-block;
				&:not(:last-child){
					margin-right: 10px;
				}
				img{
					display: block;
					border-radius: 50%;
					
					@media(min-width: @screen-sm) and (max-width: @screen-md - 1){
						max-width: 60px;
					}
					@media(max-width: @screen-sm - 1){
						max-width: 50px;
					}
					&.flex-active{
						opacity: 0.5;
						box-shadow: 0 0px 12px rgba(0,0,0,0.175);
					}
				}
				
				cursor: url(assets/images/cursor.png), auto;
				position: relative;
				z-index: 3;
				.light_opacity{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: fadeout(@main-color, 30);
					opacity: 0;
					.easing-animation;
					content="";
					//display: inline-block;
				}
				&:hover{
					.light_opacity{
						opacity: 1;
					}
				}
			}
		}
	}
	&.tpl3{
		.tb-item-content{
			margin-bottom: 30px;
			position: relative;
			.tb-content-block{
				position: absolute;
				text-align: center;
				.blog-title{
					font-size: 22px;
					font-weight: bold;
					color: #303030;
					margin-bottom: 5px;
				}
			}
		}
		
		.owl-stage-outer{
			overflow: initial;
			.owl-item{
				.easing-animation;
				&:not(.active){
					.tb-item{
						position: relative;
						&:after{
							content="";
							width: 100%;
							height: 100%;
							background-color: fadeout(#fff, 30);
							position: absolute;
							top: 0;
							left: 0;
							display: inline-block;
							z-index: 2;
						}
					}
					.tb-item-content{
						
						.tb-content-block{
							z-index: 3;
							max-width: 280px;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							text-align: center;
							.blog-info{
								font-style: italic;
								color: @main-color;
								margin-bottom: 2px;
								&:first-child{
									span{
										display: none;
									}
									span.publish-date{
										display: inline-block;
									}
									
								}
								&:last-child{
									display: none;
								}
							}
							h2.blog-title{
								line-height: 26px;
							}
						}
					}
				}
				&.active{
					.tb-item-content{
						.tb-content-block{
							width: ~'calc(100% - 90px)';
							left: 50%;
							transform: translateX(-50%);
							background-color: #fbfbfb;
							bottom: -30px;
							padding: 40px 0;
							.blog-info{
								&:first-child{
									width: 220px;
									height: 47px;
									border-radius: 23px;
									color: #fff;
									position: absolute;
									background-color: @main-color;
									font-size: 16px;
									font-style: italic;
									text-align: center;
									line-height: 47px;
									margin: auto;
									left: 50%;
									transform: translateX(-50%);
									top: -23px;
									span{
										display: none;
										
									}
									span.publish-date{
										display: inline-block;
										font-weight: 400;
										a{
											color: #fff;
										}
									}
								}
								&:last-child{
									text-transform: uppercase;
									font-style: italic;
									font-size: 14px;
									.publish-date{
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
		.owl-controls{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			.owl-nav{
				>div{
					position: absolute;
					
					i{
						display: none;
					}
					&:after{
						font-family: "Ionicons";
						font-size: 25px;
						color: #666666;
						display: inline-block;
					}
					&.owl-prev{
						left: -30px;
						@media(min-width: @screen-lg){
							left: -130px;
						}
						&:after{
							content: "\f3d2";
						}
					}
					&.owl-next{
						right: -30px;
						@media(min-width: @screen-lg){
							right: -130px;
						}
						&:after{
							content: "\f3d3";
						}
					}
					&:hover{
						&:after{
							color: @main-color;
						}
					}
				}
				
			}
		}
	}
}
 body .col-packages{
	background-position: bottom right !important;
}
.tb-classes-page{
	.tb-tab-custom.wpb_tabs{
		position: initial;
	}
}

// classes in trainer single

.tb-classes-single{
	.tb-classes.tb-classes-carousel article .tb-content-block{
		background-color: #fbfbfb;
		h2.blog-title{
			text-transform: capitalize;
			a{
				color: #666;
			}
		}
	}
}

.single-classes .tb-blog .tb-blog-image{
	>img{
		width: 100%;
		height: auto;
	}
}