.tb-countup-section{
	background-size: cover;
	position: relative;
	@media(min-width: @screen-md){
		top: -120px
	}
	.wbp-title.tpl3 .wbp-title-content{
		.title-content{
			h1{
				font-weight: 400;
				color: #fff;
			}
			p{
				color: #fff;
				font-weight: 400;
			}
		}
	}
}
.ro-service-wrap {
	.tb-incremental{
		color: @main-color;
		font-size: 16px;
		text-transform: uppercase;
		p{
			font-style: italic;
		}
		.tb-title{
			font-size: 36px;
			color: #fff;
			font-weight: bold;
			margin-bottom: 10px;
		}
	}
}