.newsletter-sidebar{
	background: url(assets/images/bg-newsletter.jpg) no-repeat center center;
	position: relative;
	padding-top: 45px;
	height: 180px;
	margin-bottom: 90px;
	@media(max-width: @screen-md - 1){
		background-size: cover;
		height: initial;
	}
	&:before{
		content="";
		top:0;
		bottom:90px;
		left: 0;
		right: 0;
		display: inline-block;
		position: absolute;
		z-index: -1;
	}
}
.page-template-page-NoTitleBar{
	.tb_footer{
		.newsletter-sidebar{
			&:before{
				background-color: #f9f9f9;
			}
		}
	}
}
.tb-footer-newsletter{
	.newsletter-desc{
		>p, h4{
			font-family: Roboto Slab;
			font-weight: 400;
			line-height: 36px;
			color: #fff;
			font-size: 16px;
			margin-bottom: 0 !important;
			span{
				color: @main-color;
			}
			
		}
		h4{
			font-size: 24px;
			text-transform: uppercase;
		}
		h3.wg-title{
			display: none;
		}
		
	}
	.tnp-widget,.newsletter-widget{
		.tnp-field{
			label{
				display: none;
			}
		}
		input[type="submit"],input[type="email"]{
			height: 60px;
			line-height: 60px;
			//float: left;
			border-radius: 30px;
			
		}
		input[type="email"]{
			font-style: italic;
			font-size: 13px;
			.placeholder(#555555);
			font-weight: 600;
			padding-left: 35px;
		}
		input[type="submit"]{
			width: 215px;
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
			color: #fff;
			padding: 0;
			background-color: @main-color;
			border: none;
			font-weight: 600;
		}
		@media(min-width: @screen-md){
			input[type="submit"],input[type="email"]{
				display: inline-block;
				float: left;
			}
			input[type="email"]{
				width: ~'calc( 100% - 237px)';
				margin-right: 22px;
			}
		}
		@media(min-width: @screen-md){
			width: ~'calc( 100% - 400px)';
			float: left;
		}
	}
	.newsletter-desc{
		
		float: left;
		width: 100%;
		.newsletter-desc{
			width: 395px;
			display: inline-block;
		}
	}
	.tb-newsletter-checkbox{
		display: none;
	}
}

.tb_footer{
	background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
	.widget_recent_entries{
		ul li{
			line-height: 27px;
			a{
				color: #999;
				text-transform: capitalize;
				font-family: Roboto Slab;
				font-weight: 400;
				font-size: 14px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
				display: inline-block;
			}
			span{
				display: block;
				text-transform: uppercase;
				color: @main-color;
				font-size: 12px;
				margin-top: -5px;
			}
			&:not(:last-child){
				border-bottom: 1px dashed #999;
				padding-bottom: 15px;
			}
			&:not(:first-child){
				padding-top: 15px;
			}
		}
	}
	.logo-footer{
		display: block;
		margin-bottom: 10px;
		img{
			width: initial;
		}
	}
	
	.tb_footer_top_once,.tb_footer_top_two{
		.tb-social{
			li{
				width: 40px;
				height: 40px;
				line-height: 40px;
				.easing-animation;
				text-align: center;
				background-color: #f5f5f5;
				a{
					color: #999999;
				}
				&:hover{
					background-color: @main-color;
					a{
						color: #fff;
					}
				}
			}
		}
	}
	&.tb_footer_v2{
		background-color: transparent;
		color: #444;
		.footer-top{
			padding-top: 0;
			margin-top: -7px;
			.widget h3{
				color: #666;
				font-size: 18px;
			}
		}
		.tb_footer_top_once{
			.textwidget{
				font-style: italic;
				font-weight: bold;
			}
			
		}
		
	}
	&.tb_footer_v2,&.tb_footer_v3{
		.footer-bottom{
			background-color: #f9f9f9;
			border-top: none;
			.textwidget{
				font-style: normal;
				color: #444;
				font-size: 16px;
				padding-top: 5px;
				span{
					color: @main-color;
				}
			}
			.widget_nav_menu{
				text-align: right;
				ul li{
					display: inline-block;
					&:not(:first-child){
						margin-left: 30px;
					}
					a{
						text-transform: uppercase;
						color: #666;
						font-size: 12px;
						font-family: Roboto slab;
						font-weight: 400;
						&:hover{
							color: @main-color;
						}
					}
				}
			}
		}
	}
	&.tb_footer_v3{
		.footer-top{
			margin-top: 32px;
			.widget h3.wg-title{
				margin-bottom: 30px;
			}
		}
		.footer-bottom{
			background-color: #0f0f0f;
			.textwidget {
				color: #fff;
			}
			.widget_nav_menu ul li a{
				color: #fff;
			}
		}
	}
	.wpcf7{
		.wpcf7-form{
			>p{
				margin-bottom: 5px !important;
			}
			input,textarea{
				border-radius: 23px;
				background-color: #2d2e32;
				border-color:  #2d2e32;
				color: #adadad;
				font-style: italic;
				font-size: 12px;
				.placeholder(#adadad);
				margin-bottom: 0;
			}
			input{
				height: 45px;
			}
			input[type="submit"]{
				background-color: @main-color;
				color: #fff;
				float: none;
				border: none;
				margin-top: 10px;
				height: 50px;
				line-height: 34px;
				width: 178px;
			}
		}
	}
	.tb-post-list{
		.tb-post-side{
			@media(max-width: @screen-sm - 1){
				max-width: 360px;
				margin-left: auto;
				margin-right: auto;
			}
			margin-bottom: 45px;
			.tb-post-side-img{
				border-radius: 50%;
				position: relative;
				z-index: 2;
				width: 78px;
				height: 78px;
				overflow: hidden;
				img{
					display: block;
					height: auto;
					width: 100%;
				}
			}
		}
		.tb-post-side-ct{
			@media(max-width: @screen-sm - 1){
				text-align: left;
			}
			top: 7px;
			a{
				color: #fff;
				font-family: Roboto Slab;
				font-size: 14px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				display: inline-block;
				font-weight: 400;
				width: 100%;
			}
			span.date{
				color: @main-color;
				position: relative;
				top: -10px;
			}
		}
	}
	.widget.widget_jws_theme_instagram_widget{
		margin: 22px 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	
}
.jws-theme-twitter-widget{
	.jws-theme-content{
		
		.jws-theme-tweet-text{
			margin-bottom: 15px;
			i{
				font-size: 24px;
				color: @main-color;
				margin-right: 15px;
			}
			font-size: 16px;
			color: #444;
			line-height: 28px;
			font-style: italic;
			font-weight: bold;
			a{
				color: @main-color;
			}
		}
	}
	.jws-theme-tweet-meta{
		
		color: @main-color;
		color: #666666;
		font-size: 14px;
		h4.jws-theme-name{
			color: #666;
			margin-top: 18px;
			font-style: normal;
			margin-bottom: 0;
		}
		span{
			display: block;
			color: @main-color;
			font-style: italic;
			margin-top: -5px;
		}
	}
	.owl-controls{
		.owl-nav{
			display: none;
		}
		.owl-dots{
			text-align: right;
			.owl-dot{
				width: 7px;
				height: 7px;
				display: inline-block;
				background-color: #666;
				&.active{
					background-color: @main-color;
				}
				&:not(:last-child){
					margin-right: 3px;
				}
			}
		}
	}
}

.tb_footer.tb_footer_v4{
	.footer-top{
		padding-top: 0px;
		margin-top: 0px;
		padding-bottom: 50px;
		.widget.widget_jws_theme_instagram_widget{
			position: relative;
			top: 50px;
		}
		
	}
	.tb-background-image{
			padding-top: 120px;
		}
	>.footer-top{
		background-color: #fff;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 10px;
		h3.wg-title{
			font-size: 24px;
			text-transform: uppercase;
			color: #666;
			font-weight: bold;
			margin-bottom: 2px;
			
			span,p{
				color: @main-color;
			}
			p{
				font-size: 14px;
				text-transform: capitalize;
				font-weight: 400;
				margin-top: 8px;
			}
		}
		.widget_jws_theme_instagram_widget{
			padding: 0;
			margin: 0;
		}
		.tb_footer_top_once{
			@media(min-width: @screen-md){
				position: relative;
				top: 35px;
			}
		}
		
	}
}
.tb_footer.tb_footer_v5{
	background-color: #fff;
	color: #666666;
	font-style: italic;
	.tb-social li{
		border-radius: 50%;
		&:not(:last-child){
			margin-right: 5px;
		}
	}
	.footer-top{
		padding-top: 92px;
		padding-bottom: 50px;
		h3{
			color: #333333;
		}
		ul li{
			> i{
				color: @main-color;
				margin-right: 15px;
			}
			span{
				display: block;
			}
		}
		.tb_footer_top_four{
			//width: initial !important;
		}
		.tb_footer_top_five{
			@media(max-width: @screen-sm - 1){
				max-width: 270px;
				margin-left: auto;
				margin-right: auto;
				float: none;
			}
			ul li{
				padding-left: 60px;
				position: relative;
				color: #444444;
				font-size: 16px;
				line-height: 2;
				padding-bottom: 10px;
				padding-top: 10px;
				&:first-child{
					padding-top: 0;
				}
				&:last-child-child{
					padding-bottom: 0;
				}
				i{
					float: left;
					font-size: 50px;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					
				}
				&:not(:last-child){
					border-bottom: 1px dashed #babbb8;
				}
			}
		}
	}
	.footer-bottom{
		border-top: 1px dashed #bbbbbb;
		color: #333333;
		font-style: normal;
		span{
			color: @main-color;
		}
	}
}
.tb-background-image{
	background-size: cover;
	background-position: center center;
}