.tb-appointment{
	.wpcf7{
		background-color: #f8f8f8;
		padding: 40px;
		padding-bottom: 0;
		padding-top: 3px;
		@media(max-width: @screen-md - 1){
			padding: 40px 5px;
			max-width: 450px;
			margin: auto;
		}
		position: relative;
		.col-heading{
			position: absolute;
			@media(max-width: @screen-md - 1){
				position: initial;
			}
			font-family: Roboto slab;
			color: @main-color;
			font-size: 14px;
			width: 100%;
			left: 0;
			top: 0;
			padding-top: 43px;
			padding-bottom: 10px;
			background-color: fadeout(#181818,10);
			z-index: 2;
			text-transform: capitalize;
			top: -157px;
			&:after{
				position: absolute;
				height: 35px;
				width: 100%;
				background-color: #f8f8f8;
				bottom: -35px;
				@media(min-width: @screen-md){
					content="";
				}
				display: block;
				z-index: -1;
			}
			h3{
				text-transform: uppercase;
				color: #fff;
				font-weight: bold;
				font-size: 18px;
				margin-bottom: 0;
			}
		}
		input, select{
			height: 55px;
			line-height: 55px;
			border-radius: 27px;
			background-color: #fff;
			border: none;
			.placeholder(#adadad);
			font-family: "Josefin Sans";
			font-style: italic;
			font-weight: 600;
			color: #adadad;
			font-size:12px;
			padding-left: 30px;
			padding-right: 30px;
		}
		input[type="submit"]{
			width: 170px;
			height: 50px;
			line-height: 50px;
			background-color: @main-color;
			color: #fff;
			padding-top: 2px;
			margin-left: auto;
			margin-right: auto;
			float: none;
			display: block;
			margin-top: 23px;
			margin-bottom: 32px;
		}
	}
	.col-right-appoint{
		padding-left: 15px;
		@media(min-width: @screen-lg){
			padding-left: 120px;
		}
	}
}
.ro-bmi-calculator,.ro-shape-body-calculator{
	
	input, select{
		height: 55px;
		width: 164px;
		line-height: 55px;
		background-color: #fafafa;
		border: none;
		border-radius: 27px;
		color: #adadad;
		.placeholder(#adadad);
		font-style: italic;
		font-size: 12px;
		display: inline-block;
		padding-left: 20px;
		margin-right: 7px;
	}
	input[type="submit"]{
		width: 192px;
		background-color: @main-color;
		text-transform: uppercase;
		padding: 0;
		color: #fff;
		margin-right: 0;
	}
	.ro-result{
		font-size: 14px;
		
		font-family: Roboto slab;
		color: #fff;
		margin-top: 30px;
		input{
			text-align: center;
			padding: 0;
			color: #adadad;
			.placeholder(#adadad);
			background-color: fadeout(#fff, 80);
			font-family: "Josefin sans";
			margin-left: 20px;
			margin-right: 20px;
		}
		.title-result{
			display: inline-block;
		}
	}
	&.tpl1{
		text-align: center;
	}
	
}
.ro-shape-body-calculator{
	input#name{
		width: 350px;
	}
	text-align: right;
	.wbp-title{
		text-align: left;
		font-family: Roboton slab;
		font-weight: normal;
		@media(min-width: @screen-lg){
			width: 250px;
			float: left;
		}
		@media(max-width: @screen-sm - 1){
			text-align: center;
		}
		font-weight: 600;
		h3{
			color: #666666;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
			margin-bottom: 0;
			letter-spacing: initial;
		}
		p{
			font-size: 14px;
			color: @main-color;
			font-weight: 400;
		}
	}
	form{
		width: 100%;
		@media(min-width: @screen-lg){
			width: ~'calc(100% - 250px)';
			float: left;
			text-align: right;
		}
		
	}
	&.tpl2{
		input{
			&:not([type="submit"]){
				background-color: #fff;
			}
		}
	}
}
body{
	.ro-calc-h3{
		background-position: center center !important;
		@media(max-width: @screen-sm - 1){
			background-size: cover;
		}
		.wbp-title.tpl3{
			.wbp-title-content{
				h1{
					color: #fff;
					font-size: 18px;
					line-height: 20px;
				}
				 .title-content span.bottom-subtitle{
					font-size: 14px;
					margin-bottom: 0;
					
				 }
			}
		}
	}
	.ro-calc-h4{
		background-position: center center !important;
		@media(max-width: @screen-md - 1){
			background-size: cover;
		}
		@media(min-width: @screen-lg){
			position: relative;
			top: -105px;
		}
		@media(max-width: @screen-lg - 1){
			margin-bottom: 105px;
		}
	}
	.tb-content-newsletter{
		@media(max-width: @screen-md - 1){
			background-size: cover;
		}
	}
}
// time table
.schedule-container{
	text-align: center;
	
	form.schedule-filter{
		border: none;
		background-color: @main-color;
	//	height: 70px;
		@media(min-width: @screen-lg){
	//		height: 80px;
		}
		vertical-align: middle;
		position: relative;
		.month-nav{
			//position: absolute;
			width: 100%;
			top: 50%;
			left: 50%;
		//	transform: translate(-50%, -50%);
			li{
				display: inline-block;
				color: #fff;
				vertical-align: middle;
				button{
					width: 35px;
					height: 35px;
					line-height: 35px;
					text-align: center;
					background-color: #fff;
					color: #555;
					font-size: 18px;
					border: none;
					vertical-align: middle;
					margin-right: 40px;
				}
				.time-nav{
					font-size: 14px;
					font-family: Roboto slab;
					font-weight: bold;
					display: inline-block;
				}
				&:last-child{
					button{
						margin-right: initial;
						margin-left: 40px;
					}
				}
			}
			a{
				position: relative;
				z-index: 2;
			}
			text-align: center;
			padding: 15px 0;
			input,a{
				max-width: 160px;
				display: inline-block;
				padding-top: 0;
				padding-bottom: 0;
				font-family: Roboto slab;
				vertical-align: middle;
				margin-bottom: 0;
			}
			a.view_schedule{
				background-color: #fff7fb;
				text-align: center;
				height: 38px;
				line-height: 38px;
				font-size: 12px;
				text-transform: uppercase;
				width: 180px;
				font-family: Josefin sans;
				@media(min-width: @screen-lg){
					margin-left: 35px;
				}
			}
		}
	}
	.table-responsive{
		&.blog-more-ajax-loading{
			position: relative;
			&:after{
				opacity: .7;
				pointer-events: none;	
				background: url('assets/images/loading-animate.gif') center center no-repeat;
				content:"";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				display: inline-block;
				width: 120px;
				height: 120px;
			}
		}
		.table-schedule{
			border-width: 0;
			thead{
				tr th{
					border-width: 0;
					text-align: center;
					height: 60px;
					@media(min-width: @screen-lg){
						height: 75px;
					}
					vertical-align: middle;
					background-color: #2b2b2b;
					color: #e2e2e2;
					font-family: Roboto slab;
					font-size: 12px;
					padding: 0;
					text-transform: uppercase;
				}
			}
			tbody{
				tr{
					td{
						text-align: center;
						border-color: #ebebeb;
						color: #444444;
						font-style: italic;
						border-top: none;
						font-size: 12px;
						font-weight: 600;
						text-transform: uppercase;
						position: relative;
						padding: 0;
						height: 90px;
						@media(min-width: @screen-lg){
							height: 120px;
						}
						vertical-align: middle;
						span{
							display: block;
							color: #666666;
							font-style: normal;
							font-family: Roboto slab;
							font-size: 13px;
							font-weight: normal;
							&.tb_time{
								margin-bottom: 3px;
							}
							&.tb-htime{
								font-size: 12px;
								color: #666666;
								font-family: Roboto slab;
							}
						}
						
						&:nth-child(odd){
							background-color: #ffefd3;
						}
						&:nth-child(even){
							background-color: #fff7fb;
						}
						&:first-child{
							border-left: 1px solid #ebebeb;
						}
					}
				}
			}
		}
	}
}

// form calculator body


.ro-shape-body-calculator.tpl3{
	text-align: left;
	>.cal_body_result{
		border: 1px solid #dbdada;
		@media(min-width: @screen-lg){
			height: 400px;
			overflow: hidden;
		}
		.cal_content{
			padding-left: 15px;
			padding-top: 15px;
			@media(min-width: @screen-md){
				padding-left: 30px;
				padding-top: 30px;
			}
			@media(min-width: @screen-lg){
				padding-left: 80px;
				padding-top: 80px;
			}
		}
		&.blog-more-ajax-loading{
			position: relative;
			&:after{
				opacity: .7;
				pointer-events: none;	
				background: url('assets/images/loading-animate.gif') center center no-repeat;
				content:"";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
				display: inline-block;
				width: 120px;
				height: 120px;
			}
		}
		.cal_content{
			font-size: 14px;
			font-family: Roboto slab;
			line-height: 14px;
			font-weight: 400;
			span{
				color: @main-color;
			}
			.body_shape{
				font-size: 18px;
				margin-bottom: 30px !important;
			}
		}
	}
	.cal_body_form{
		@media(min-width: @screen-lg){
			height: 400px;
			overflow: hidden;
		}
		.wbp-title{
			margin-top: 60px;
		}
		form{
			width: 100%;
			float: none;
			text-align: left;
			.btn-calc{
				display: block;
			}
		}
	}
	
}
.ro-shape-body-page{

	em{
		color: #444;
	}
}
