
.tb-header-wrap{
	&.tb-header-v1,&.tb-header-v3{
		background-color: transparent;
	}
	
	&.tb-header-v4{
		padding: 0;
		.header-sidebar{
			background-color: #101010;
			color: #fff;
			@media(min-width: @screen-sm){
				height: 54px;
				position: relative;
				line-height: 54px;
				overflow: hidden;
			}
			@media(max-width: @screen-sm - 1){
				 padding: 15px 0;
			}
			.widget_tb_social_widget{
				h3.wg-title{
					color: #e7e7e7;
					font-size: 12px;
					font-family: Roboto Slab;
					line-height: 24px;
					@media(min-width: @screen-sm){
						width: 125px;
					}
					@media(max-width: @screen-sm - 1){
						position: relative;
						top: 5px;
					}
					display: inline-block;
					margin-bottom: 0;
				}
				ul.tb-social{
					@media(min-width: @screen-sm){
						width: ~'calc(100% - 130px)';
					}
					display: inline-block;
					li{
						&:after{
							display: none;
						}
						a{
							color: #767676;
							margin: 12px 7px;  
							@media(max-width: @screen-sm - 1){
								margin: 0px 7px;  
							}
							&:hover{
								color: @main-color;
							}
						}
					}
				}
			}
			.sidebar-top-left{
				text-align: center;
				@media(min-width: @screen-sm){
					text-align: left;
				}
			}
			.sidebar-top-right{
				font-size: 12px;
				font-family: Roboto Slab;
				text-align: center;
				@media(min-width: @screen-sm){
					text-align: right;
				}
				.widget_text{
					span{
						color: @main-color;
					}
				}
			}
		}
		.header-menu{
			z-index: 5;
			@media(max-width: @screen-lg - 1){
				position: relative;
			}
		}
	}
	&.tb-header-v5{
		.col-menu{
			width: 100%;
		}
		.ro-hamburger{
			top: -40px;
			span{
				background:#fff;
				
			}
			&:after,&:before{
				background: #fff;
			}
		}
		.ro-logo-menu{
			zoom: 0.7;
			@media(min-width: @screen-md){
				padding-left: 70px;
				padding-right: 70px;
			}
			@media(min-width: @screen-lg){
				padding-left: 120px;
				padding-right: 120px;
			}
			@media(nax-width: @screen-sm - 1){
				display: none;
			}
		}
		.header-sidebar{
			overflow: initial;
			.shopping_cart_dropdown{
				color: initial;
			}
			.sidebar-top-left{
				color: #e6e6e6;
				font-size: 12px;
				font-family: Roboto Slab;
				text-align: center;
				@media(min-width: @screen-sm){
					text-align: left;
				}
				.widget_text{
					span{
						color: @main-color;
					}
				}
				
			}
			.widget_tb_social_widget{
				ul.tb-social li a{
					display: inline-block;
					@media(min-width: @screen-sm){
						margin: 7px;
					}
				}
				@media(min-width: @screen-md){
					h3.wg-title,ul.tb-social{
						width: 50%;
						float: left;
					}
					h3.wg-title{
						text-align: right;
						margin-top: 15px;
					}
					ul.tb-social{
						padding-left: 20px;
					}
				}
			}
			.sidebar-top-right{
				margin-top: 13px;
				@media(max-width: @screen-sm - 1){
					padding-right: 80px;
				}
				.widget_mini_cart_wrap{
					position: initial;
				}
			}
		}
		
	}
	&.tb-header-v6{
		.header-menu{
			background-color: #fff;
			@media(min-width: @screen-md){
				position: relative;
				&:after,&:before{
					position: absolute;
					content="";
					top: 0;
					height: 100%;
					z-index: 2;
				}
				&:before{
					left: 0;
					background-color: #f8f8f8;
					width: 660px;
				}
				&:after{
					border-left: 75px solid #f8f8f8;
					border-bottom: 125px solid transparent;
					left: 660px; 
				}
			}
			.widget_mini_icon,.widget_mini_cart_wrap {
				width: 45px;
				&:after{
					display: none;
				}
				a{
					.cart-icon,.ion-ios-search{
						height: 37px;
						width: 37px;
						background-color: #f8f8f8;
						border-radius: 5px;
						display: inline-block;
						line-height: 37px;
						text-align: center;
					}
					span.cart_total{
						top: -5px;
						right: -7px;
					}
				}
			}
		}
		
		.header-sidebar{
			.sidebar-top-left{
				color: #e7e7e7;
				font-size: 12px;
				font-family: Roboto slab;
				span{
					color: @main-color;
				}
				i{
					margin-right: 5px;
				}
			}
			.widget_tb_social_widget ul.tb-social{
				max-width: 95px;
			}
		}
	}
	&.tb-header-v7{
		@media(min-width: @screen-sm) and (max-width: @screen-lg - 1){
			#nav > li{
				width: 160px;
			}
		
		}
		&.tb_header_fixed{
			top: 35px;
			background-color: fadeout(#fff, 5);
			.menu-list{
				background-color: transparent;
			}
		}
		.mini-socials{
			width: 450px !important;
			.widget_tb_social_widget,.widget_mini_cart_wrap{
				float: left;
			}
			.widget_tb_social_widget{	
				@media(min-width: @screen-sm){
					width: ~"calc(100% - 40px)";
				}
			}
			.widget_mini_cart_wrap{
				width: 40px;
			}
			.tb-social{
				li{
					position: relative;
					@media(min-width: @screen-sm){
						&:not(:last-child){
							&:after{
								position: absolute;
								content:"";
								width: 1px;
								height: 9px;
								background-color: #959595;
								top: 50%;
								transform: translateY(-50%);
								right: 3px;
							}
						}
					}
					&:not(:last-child),&:not(:first-child){
						a{
							margin-right: 14px;
							margin-left: 14x;
						}
					}
					&:hover{
						a{
							color: @main-color;
						}
					}
				}
			}
		}
	}
	&.tb-header-v8{
		padding: 0;
		.header-sidebar{
			padding: 30px 0;
			.sidebar-top-left{
				margin-top: 20px;
				.widget_search .search-form{
					.search-field{
						border-bottom: 1px solid #e6e6e6;
						padding-left: 0px;
						padding-bottom: 13px;
					}
					label{
						max-width: 270px;
						&:after{
							left: -35px;
							font-size: 15px;
							color: #3a3a3a;
							top: 43%;
							right: initial;
						}
					}
				}
			}
			.sidebar-top-right{
				margin-top: 20px;
				.widget_tb_social_widget{
					ul li a{
						color: #555555;
						&:hover{
							color: @main-color;
						}
					}
				}
				.widget_mini_cart_wrap{
					position: relative;
					bottom: -7px;
					right: 0;
					display: inline-block;
					@media(max-width: @screen-sm - 1){
						display: none !important;
					}
				}
				.widget_tb_social_widget{
					width: ~'calc(100% - 55px)';
					display: inline-block;
				}
			}
			.sidebar-top-center{
				.col-logo{
					display: block;
				}
			}
		}
		.header-menu{
			background-color: #fbfbfb;
		}
	}
}
@media(min-width: @screen-sm){
	.menu-list{
		> ul#nav {
			> li {
				&.menu-item-has-children {
					position: relative;
					> ul {
						margin: 0;
						border: none;
						padding: 0;
						border-radius: 0;
					}
					&.has_full_width{/*----mega dropdown----*/
						position: static;
						> ul {
							margin: 0;
							border: none;
							padding: 0;
							border-radius: 0;
						
							&.columns2,&.columns3,&.columns4{
								background-color: transparent;
								
								> li{
									>ul{
										width:200px;
										li > a{
											border: none;
										}
									}
								}
							}
							&.columns3,&.columns4{
								padding: 30px 0;
								li{
									a{
										color: #444;
										line-height: 40px;
										&:hover{
											color: @main-color;
										}
									}
									&.current-menu-item,&.current-page-item{
										a{
											color: @main-color;
										}
									}
								}
							}
							ul.dropdown-menu{
								position: initial;
								display: inline-block;
								background-color: transparent;
								box-shadow: initial;
								-webkit-box-shadow: initial;
								border: none;
								margin: 0;
								padding: 0;
								border-radius: 0;
							}
						}
					}
				}
				ul li a{
					padding-top: 0;
					padding-bottom: 0;
					&:hover{
						background-color: transparent;
					}
				}

			}
		}
	}
}
@media(max-width: @screen-md - 1) and (min-width: @screen-sm){

	#nav > li > ul{
		left: -10px;
	}
}
@media(max-width: @screen-sm - 1){

	#nav{
		.dropdown-menu{
			width: initial !important;
			position: initial;
			display: initial;
			float: none;
			padding: 0;
			margin: 0;
			text-align: center;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}
	}
	.tb-header-wrap #nav > li:hover > ul li{
		height: initial;
	}
	.ro-main-nav-opened .ro-hamburger{
		position: fixed;
		top: 125px;
	}
}