.widget_searchform_content{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 501;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
	visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
    -moz-transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
    transition: all 400ms cubic-bezier(0.345, 0.855, 0.565, 1) 10ms;
	
	.search-popup-vertical{
		width: 100%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		top: 50%;
		position: absolute;
		width: inherit;
		form{
			position: relative;
			max-width: 945px;
			background-color: fadeout(#1a1a1c,10);
			padding: 70px 90px;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			.close {
				position: absolute;
				right: 0px;
				top: 0px;
				width: 40px;
				height: 40px;
				background-color: @main-color;
				color: #fff;
				text-align: center;
				line-height: 40px;
				opacity: 1;
				 span {
					font-size: 24px;
					position: relative;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					backface-visibility: hidden;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
					display: block;
				}
				&:hover{
					background-color: #fff;
					color: @main-color;
				}
			}
			.tt-search-popup-field{
				position: relative;
				border-bottom: 1px solid #fff;
			}
			input[type="text"] {
				width: 100%;
				font-size: 14px;
				line-height: 16px;
				background: none;
				color: #fff;
				padding: 3px 50px 6px 0;
				border: 0;
				margin-bottom: 0;
			}
			button[type="submit"] {
				position: absolute;
				top: 0px;
				right: 0px;
				width: 30px;
				height: 30px;
				padding: 0px;
				background: transparent;
				border: 0;
				z-index: 2;
				color: #fff;
			}
			.tt-search-popup-title {
				color: #fff;
				font-size: 20px;
				text-transform: uppercase;
				line-height: 20px;
				margin-top: 0;
				text-align: left;
			}
		}
		
	}
	&.open{
		visibility: visible;
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

.widget_mini_icon,.widget_mini_cart_wrap {
	width: 50px;
	@media(max-width:  @screen-lg - 1){
		width: 40px;
	}
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	
}
.widget_mini_icon{
	font-size: 26px;
	text-align: right;
	position: relative;
	&:hover{
		a{
			color: @main-color;
		}
	}
	&:after{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		content:"";
		left: 10px;
		height: 12px;
		width: 1px;
		background-color: #c3c3c3;
	}
}
.tb-header-v4{
	.widget_mini_icon,.widget_mini_cart_wrap {
		float: right;
	}
	@media(min-width: @screen-md){
		.col-logo img{
			margin-left: 0;
		}
	}
	.header-menu{
		position: absolute;
		width: 100%;
		z-index: 2;
		.menubar-inner >.container{
			position: relative;
			&:after{
				content: "";
				background-color: #fff;
				position: absolute;
				left: -135px;
				right: -135px;
				top: 0;
				bottom: 0;
				display: block;
			}
			>.row{
				position: relative;
				z-index: 3;
			}
		}
		@media(min-width: @screen-md){
		
			#nav > li > a{
				padding: 48px 0;
			}
		}
	}
}