// single classes

.single-classes{
	.sidebar-right,.sidebar-left{
		.widget{
			margin-bottom: 65px;
		}
	}
	.main-content{
		margin-bottom: 70px;
	}
	.tb-blog{
		.tb-blog-image{
			position: relative;
			overflow: initial;
			.box-heading{
				@media(min-width: @screen-lg){
					width: ~'calc(100% - 170px)';
					margin-left: auto;
					margin-right: auto;
					position: absolute;
					bottom: -75px;
					z-index: 2;
					left: 50%;
					transform: translateX(-50%);
					&:after{
						content="";
						background-color: #f8f8f8;
						position: absolute;
						bottom: 20px;
						left: 0;
						right: 0;
						top: -40px;
						z-index: -1;
					}
				}
				
				@media(max-width: @screen-lg - 1){
					margin-bottom: 70px;
				}
				.blog-title{
					font-size: 18px;
					color: #666;
					letter-spacing: initial;
					text-transform:  capitalize;
					margin-bottom: 5px;
				}
				.tb-info{
					position: relative;
					margin-bottom: 37px;
					>div{
						width: 30%;
						display: inline-block;
						color: #999999;
						font-style: italic;
						i{
							margin-right: 10px;
							font-size: 18px;
						}
						span{
							color: @main-color;
						}
					}
				}
				a{
					display: inline-block;
					&.btn-right{
						background-color: #595959;
					}
				}
			}
		}
		.tb-content-block{
			@media(min-width: @screen-lg){
				margin-top: 140px;
			}
			.blog-desc{
				font-style: italic;
				font-weight: 600;
				h4.cl_intro{
					font-size: 24px;
					color: #666666;
					letter-spacing: initial;
				}
				ul{
					margin-top: 40px;
					margin-bottom: 50px;
					li{
						position: relative;
						&:before{
							font-family: FontAwesome;
							content="\f1d8";
							color: @main-color;
							margin-right: 15px;
							display: inline-block;
						}
						&:not(:last-child){
							margin-bottom: 15px;
						}
					}
				}
				iframe{
					max-width: 670px;
					margin-left: auto;
					margin-right: auto;
					max-height: 400px;
					display: block;
				
				}
			}
			.tb-social-buttons{
				margin-top: 40px;
				color: #666666;
				font-size: 14px;
				font-family: Roboto slab;
				border-top: 5px solid #f0f0f0;
				border-bottom: 5px solid #f0f0f0;
				position: relative;
				padding-top: 10px;
				padding-bottom: 10px;
				background-color: transparent;
				>span{
					width: 130px;
					display: inline-block;
				}
				&:after{
					position: absolute;
					top: 2px;
					bottom: 2px;
					left: 0;
					right: 0;
					border-top: 1px solid #f0f0f0;
					border-bottom: 1px solid #f0f0f0;
					content="";
					z-index: -1;
				}
				.ro-icon{
					width: ~'calc(100% - 140px)';
					display: inline-block;
					text-align: right;
					a{
						height: 40px;
						width:40px;
						line-height: 40px;
						text-align: center;
						border-radius: 0;
						color: #999;
						background-color: #f8f8f8;
						&:hover{
							background-color: @main-color;
							&:before{
								color: #fff;
							}
						}
						
						&:after{
							display: none;
						}
						&.fa-pinterest-p{
							&:before{
								content="\f231";
							}
						}
					}
				}
			}
		}
		.comments-area{
			h3{
				margin-bottom: 5px;
				text-transform: uppercase;
				font-size: 24px;
				span{
					color: @main-color;
				}
			}
			>span{
				font-style: italic;
			}
			.comment-respond{
				margin-top: 76px;
			}
		}
		.comment-form{
			margin-top: 35px;
			p.comment-form-url{
				width: 100%;
			}
			>p{
				margin-bottom: 0 !important;
				margin-top: 0;
			}
			input{
				height: 50px;
			}
			textarea,input{
				border: none;
				background-color: #f7f7f7;
				font-style: italic;
				font-size: 13px;
				color: #929292;
				padding-left: 35px;
			}
			input[type="submit"]{
				text-transform: uppercase;
				border-radius: 25px;
				background-color: @main-color;
				margin-top: 30px;
				color: #fff;
			}
		}
	}
	.sidebar-right,.sidebar-left{
		h3.wg-title{
			font-size: 18px;
			background-color: transparent;
			text-align: left;
			border: none;
			margin-bottom: 0;
			padding: 0;
			line-height: 20px;
			letter-spacing: initial;
			color: #666;
			font-weight: 400;
		}
		.subtitle{
			color: @main-color;
			text-transform: uppercase;
			font-style: italic;
			font-size:12px;
			border-bottom: 1px solid #eeeeee;
			display: block;
			padding-bottom: 10px;
			margin-bottom: 20px;
		}
		.tb-trainer-list{
			max-width: 270px;
			.tb-trainer-img{
				img{display: block;}
			}
			.tb-trainer-side-ct{
				>div{
					height: 47px;
					background-color: #fbfbfb;
					line-height: 47px;
					color: #666666;
					font-size: 12px;
					text-transform: uppercase;
					font-style: italic;
					border-top: 2px solid #fff;
					
					&.tb-title{
						background-color: @main-color;
						color: #fff;
					}
					&.tb-time,&.tb-position{
						span{
							color: @main-color;
						}
					}
				}
			}
		}
		.tb-post-list{
			.tb-post-side{
				&:not(:first-child){
					margin-top: 5px;
				}
				&:not(:last-child){
					margin-bottom: 15px;
					position: relative;
					border-bottom: 1px solid #eee;
					padding-bottom: 1px;
					display: inline-block;
				}
				.tb-post-side-img{
					height: 100px;
					width: 80px;
					
				}
				.tb-post-side-ct{
					padding-top: 10px;
					a{
						text-transform: capitalize;
						font-family: Roboto Slab;
						font-size: 14px;
					}
					span.date{
						color: @main-color;
						font-size: 12px;
						text-transform: uppercase;
					}
				}
			}
		}
		.tb-widget-post-list{
			margin-bottom: 70px;
		}
		.widget_categories,.widget_tag_cloud{
			margin-bottom: 41px;
			h3.wg-title{
				border-bottom: 1px solid #eee;
				padding-bottom: 15px;
			}
			ul>li{
				color: @main-color;
				height: 47px;
				line-height: 47px;
				>a{
					padding-left: 0;
					width: 90%;
					display: inline-block;
					padding-right: 0;
					font-family: Roboto slab;
					font-size: 14px;
					font-weight: 400;
					color: #666;
				}
				&:not(:last-child){
					border-bottom: 1px solid #eee;
				}
				&:hover{
					
					a{
						transform: translateX(0);
						-webkit-transform: translateX(0);
						color: @main-color;
					}
				}
			}
		}
		.widget_tag_cloud{
			.tagcloud{
				margin-top: 20px;
				a{
					color: #444;
					border-radius: 14px;
					height: 28px;
					line-height: 28px;
					background-color: #f8f8f8;
					padding-left: 20px;
					padding-right: 20px;
					text-align: center;
					display: inline-block;
					border: none;
					font-size: 11px !important;
					font-style: italic;
					text-transform: capitalize;
					&:hover{
						background-color: @main-color;
						color: #fff;
					}
				}
			}
		}
		.widget_aqua_newsletterwidget{
			margin-bottom: 58px;
			text-align: center;
			background-color: @main-color;
			padding: 40px;
			padding-top: 45px;
			h3.wg-title{
				color: #fff;
				text-align: center;
			}
			.newsletter-desc{
				color: #fff;
				font-style: italic;
				font-size: 14px;
			}
			form{
				input[type="submit"]{
					background-color: #2b2b2b;
					color: #fff;
					border: none;
					text-transform: uppercase;
					height: 30px;
					line-height: 30px;
					padding: 0;
					font-size: 12px;
				}
				>p{
					margin-bottom: 0 !important;
				}
				input[type="email"]{
					background-color: #a1d16e;
					text-align: center;
					color: #fff;
					border: none;
					height: 40px;
				}
				.tb-newsletter-checkbox{
					display: none;
				}
			}
		}
	}
}

.title-bar.tpl2,.woocommerce .title-bar-shop.tpl2{
	h1.page-title{
		border: none;
		font-family: Roboto slab;
		color: #fff;
		font-weight: normal;
		font-size: 30px;
		margin-bottom: 0;
	}
	.page-breadcrumb{
		color: #fff;
		a,span{
			color: #fff;
		}
	}
}	