.wbp-title{
	&.tpl3 {
		font-family: "Roboto Slab";
		font-weight: 400;
		.wbp-title-content{
			>span{
				font-size: 16px;
				letter-spacing: 5px;
				color: #666666;
				font-family: "Roboto Slab";
				line-height: 38px;
			}
			h1{
				font-size: 36px;
				line-height: 50px;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 3px;
				ins{
					background: transparent;
					color: @main-color;
				}
			}
			.title-content{
				p{
					font-style: italic;
					font-family: "Josefin Sans";
					font-size: 16px;
					color: #444;
					
				}
				span.bottom-subtitle{
					font-family: "Roboto Slab";
					color: @main-color;
					font-size: 18px;
					line-height: 40px;
					font-style: normal;
					display: inline-block;
					margin-bottom: 15px;
				}
			}
		}
	}
	&.tpl4{
		h1{
			text-transform: uppercase;
			font-size: 38px;
			color: #333;
			font-weight: bold;
			margin-bottom: 2px;
		}
		p{
			font-style: italic;
			color: #666;
			font-weight: 500;
			&.sub-title{
				color: #888;
				font-family: Roboto slab;
				font-style: normal;
				margin-bottom: 2px !important;
			}
		}
		.title-content{
			margin-top: 13px;
		}
		span.line{
			width: 67px;
			height: 5px;
			background: url(assets/images/title_bars/line.png) no-repeat;
			display: inline-block;
		}
		a.btn-button{
			margin-top: 28px;
		}
	}
}
.title-custom{
	&.wbp-title.tpl3{
		.wbp-title-content{
			h1,span.bottom-subtitle{
				font-weight: 400;
			}
			h1{
				line-height: 30px;
			}
			span.bottom-subtitle{
				letter-spacing: 4px;
				font-size: 16px;
				margin-bottom: 7px;
			}
		}
	}
	
}
@media(max-width: 447px){
	.btn-button{
		margin-bottom: 10px;
	}
	
}