.tb-trainer{
	.tb-blog-image{
		img{
			display: block;
		}
	}
	.tb-content-block{
		position: relative;
		.tb-position{
			height: 45px;
			line-height: 45px;
			position: absolute;
			top: -45px;
			background-color: #fff;
			text-transform: uppercase;
			font-style: italic;
			width: 100%;
			font-size: 12px;
		}
		
		.blog-title{
			height: 53px;
			background-color: @main-color;
			line-height: 53px;
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
		}
	}
	&.tpl1{
		article{
			max-width: 270px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.tpl2{
		@media(max-width: @screen-sm - 1){
			article{
				max-width: 370px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;
			}
		}
		@media(min-width: @screen-sm) and (max-width: @screen-md - 1){
			article{
				margin-bottom: 30px;
			}
		}
		.tb-blog-image{
			position: relative;
			.tb-social{
				position: absolute;
				top: 20px;
				right: 13px;
				a{
					width: 38px;
					height: 38px;
					border-radius: 3px;
					background-color: fadeout(#066666, 20);
					color: #fff;
					line-height: 38px;
					text-align: center;
					display: block;
					margin-bottom: 5px;
					&:hover{
						background-color: @main-color;
					}
				}
			}
		}
		.tb-content-block{	
			position: absolute;
			width: ~'calc(100% - 105px)';
			height: 100px;
			bottom: 20px;
			padding-left: 20px;
			padding-top: 18px;
			@media(min-width: @screen-lg){
				padding-left: 40px;
			}
			&:after{
				@media(min-width: @screen-lg){
					content:"";
				}
				position: absolute;
				border-bottom: 35px solid #fff;
				top: -35px;
				width: 100%;
				border-right-width: 295px;
				border-right-color: transparent;
				border-right-style: solid;
				left: 0;
			}
			background-color: #fff;
			.blog-title,.tb-position{
				position: initial;
				margin-bottom: 0;
				background-color: transparent;
				color: @main-color;
				height: initial;
				line-height: 28px;
			}
			h2.blog-title{
				color: #066666;
			}
		}
	}
}

// blog style update


.ro-related-posts {
	&.tpl2{
		.ro-relate-posts-item{
			max-width: 470px;
			padding: 0;
			background-color: transparent;
			.tb-date,.ro-content{
				float: left;
			}
			.tb-date{
				@media(min-width: @screen-md){
					width:90px;
					text-align: center;
					span{
						display: block;
					}
				}
				
				font-size: 12px;
				text-transform: uppercase;
				font-style: italic;
				color: #999999;
				span{
					font-size: 55px;
					font-weight: bold;
					color: @main-color;
					line-height: 48px;
					margin-bottom: 13px;
					@media (min-width: @screen-sm) and (max-width: @screen-md - 1){
						margin-right: 7px;
					}
				}
			}
			.ro-content{
				@media(min-width: @screen-md){
					width:~'calc( 100% - 90px)';
				}
				@media(min-width: @screen-lg){
					width:~'calc( 100% - 135px)';
				}
				
				@media(min-width: @screen-lg){
					margin-left: 45px;
				}
				padding: 0;
				h4{
					margin-bottom: 10px;
					.ro-title{
						text-transform: uppercase;
						color: #666666;
						font-size: 16px;
						line-height: 26px;
						font-weight: 500;
						&:hover{
							color: @main-color;
						}
						
						
					}
				}
				.blog-info{
					color: #999;
					font-style: italic;
					text-transform: uppercase;
					font-size: 12px;
					margin-bottom: 12px;
					a{
						color: #999;
					}
				}
				.tb-excerpt{
					font-style: italic;
					color: #444;
					font-size: 16px;
					line-height: 28px;
					font-weight: 500;
				}
				
				
			}
		}
	}
	&.tpl3{
		.ro-image,.ro-relate-posts-item{
			width: 50%;
			float: left;
			@media(max-width: @screen-sm - 1){
				max-width: 450px;
				margin-left: auto;
				margin-right: auto;
				float: none;
				width: 100%;
			}
			
		}
		@media(min-width: @screen-lg){
			.ro-relate-posts-item{
				float: right;
				max-width: 45%;
				padding-top: 24px;
				
			}
		}
		>div{
			&:nth-child(even){
				.ro-image,.ro-relate-posts-item{
					float: right;
					@media(max-width: @screen-sm - 1){
						float: none;
					}
				}
				@media(min-width: @screen-lg){
					.ro-relate-posts-item{
						float: left;
						max-width: 45%;
					}
				}
			}
			&:not(:last-child){
				margin-bottom: 23px;
			}
		}
	}
}

// single trainer


.single-trainer{
	.tb-blog{
		.tb-blog-image{
			max-width: 470px;
			margin-left: 0;
			img{
				display: block;
			}
		}
		.tb-content-block{
			@media(min-width: @screen-lg){
				padding-left: 50px;
			}
			.tb-heading{
				position: relative;
				border-bottom: 5px solid #f0f0f0;
				padding-bottom: 16px;
				&:after{
					position: absolute;
					bottom: -7px;
					border-bottom: 1px solid #f0f0f0;
					content: "";
					left: 0;
					width: 100%;
					display: inline-block;
				}
				.tb-title{
					width: ~'calc(100% - 210px)';
					display: inline-block;
					h2.blog-title{
						font-family: Roboto slab;
						font-size: 24px;
						color: #666666;
						text-transform: uppercase;
						letter-spacing: initial;
						margin-bottom: 0;
					}
					span{
						font-family: Josefin sans;
						font-size: 14px;
						font-style: italic;
						color: @main-color;
						text-transform: uppercase;
					}
				}
				a.btn-button{
					display: inline-block;
					vertical-align: top;
				}
			}
			.tb-info{	
				margin-top: 35px;
				>div{
					color: #666;
					font-size: 16px;
					.tb-title{
						width: 140px;
						display: inline-block;
						vertical-align: top;
						font-family: roboto slab;
						font-weight: 400;
						i{
							margin-right: 7px;
							font-size: 20px;
						}
					}
					>span, .socials-list{
						
						@media(min-width: 478px){
							width: ~'calc(100% - 145px)';
						}
						display: inline-block;
						font-style: italic;
					}
					.socials-list{
						a{
							width: 40px;
							height: 40px;
							color: #fff;
							font-size: 16px;
							text-align: center;
							line-height: 40px;
							background-color: #f5f5f5;
							display: inline-block;
							color: #999999;
							&:hover{
								background-color: @main-color;
								color: #fff;
							}
						}
					}
					
					&.tb-excerpt{
						margin-bottom: 42px;
					}
				}
			}
		}
	}
}